.footer {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 40px 20px;
    background-color: #80489C;
    color: #FCE2DB;
  }
  
  /* .contact-us {
    width: 90%;
    text-align: left;
  } */

  /* input[type='text'] {
    height: 16px;
    width: 98%;
  } */
  
  .contact-us h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .links {
    text-align: center;
    margin-top: 36px;
  }
  
  .links h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
    display: flex;
    justify-content: space-between;
  }
  
  .links a {
    color: #fcfcfc;
    text-decoration: none;
  }
  
  .links a:hover {
    color: #FBFACD;
  }

  .footer-link-row {
    display: flex;
    justify-content: center;
  }
  